.about {
    height: 400px;
}

.about-details {
    width: 50%;
    margin: 20px auto;

}

@media only screen and (max-width:688px) {


    .about {
        height: 600px;
        margin-top: 0px;
    }

    .about-details {
        width: 75% !important;
        height: 250px !important;
        border-radius: 5px;
    }

    .about-details p {
        padding: 10px !important;
    }
}